<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
  <param-name>CGST</param-name>
  <param-value>0.18</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>prod</servlet-name>
  <servlet-class>controller.SaveProduct</servlet-class>
  <init-param>
  <param-name>TN_SGST</param-name>
  <param-value>0.16</param-value>
  
  </init-param>
  <init-param>
  <param-name>AP_SGST</param-name>
  <param-value>0.14</param-value>
  
  </init-param>
  
  
  </servlet>
  <servlet-mapping>
  <servlet-name>prod</servlet-name>
   <url-pattern>/product</url-pattern>
  </servlet-mapping>
</web-app>
